In [71]:
print("hello")
#comments haha

hello

In [1]:
a=input("enter a string : ")
j=-1
check=0
for i in a:
    if i != a[j]:
        check=1
        break
    j=j-1
    
if check == 1:
    print("not a palindrome")
else:
    print("is a palindrome")

enter a string : mam
is a palindrome

In [8]:
list1=[1,2,3]
list1.append("hi")
print(list1)
list2=["a","b","c"]
list1.append(list2)
print(list1)
print(list1[4][2])

[1, 2, 3, 'hi']
[1, 2, 3, 'hi', ['a', 'b', 'c']]
c

In [9]:
l=[]
n=int(input("enter n : "))
for i in range (0,n):
    e=int(input())
    l.append(e)

count=0
for i in l:
    if i==70:
        count=count+1
        
print(count)

enter n : 5
70
20
70
10
70
3

In [10]:
l=[]
n=int(input("enter n : "))
for i in range (0,n):
    e=int(input())
    l.append(e)


        
print(l.count(70))

enter n : 5
70
70
10
70
10
3

In [38]:
t=(1,2,1.1,9,8,7,6,5,10,11,13,14)
print(t)

print(t[0])
print(t[0:6:2])
print(t[::-1])
t1=tuple(range(4,9,2))
print(t1)

x = sorted(t)
print(x)

(1, 2, 1.1, 9, 8, 7, 6, 5, 10, 11, 13, 14)
1
(1, 1.1, 8)
(14, 13, 11, 10, 5, 6, 7, 8, 9, 1.1, 2, 1)
(4, 6, 8)
[1, 1.1, 2, 5, 6, 7, 8, 9, 10, 11, 13, 14]

In [63]:
d={'76':'N','77':'D','78':'A'}
print(d.keys())
print(d.values())


d1={'76':['N','mum','a3'],'77':['d','pune','a4'],'78':['k','kol','a1']}
print(d1)
print(d1.keys())
print(d1.values())

print(d1.get('76'))
print(d1['76'])

print("")

for k,v in d1.items():
    print(k, v)
   

print("")
print("first element is ")
i=0
for k,v in d1.items():
    if(i==0):
        print(k, v)
        i=i+1
    else:
        break

dict_keys(['76', '77', '78'])
dict_values(['N', 'D', 'A'])
{'76': ['N', 'mum', 'a3'], '77': ['d', 'pune', 'a4'], '78': ['k', 'kol', 'a1']}
dict_keys(['76', '77', '78'])
dict_values([['N', 'mum', 'a3'], ['d', 'pune', 'a4'], ['k', 'kol', 'a1']])
['N', 'mum', 'a3']
['N', 'mum', 'a3']

76 ['N', 'mum', 'a3']
77 ['d', 'pune', 'a4']
78 ['k', 'kol', 'a1']

first element is
76 ['N', 'mum', 'a3']

In [69]:
l1=["america","india","iran","europe","pakistan"]
l2=["dollar","rupees","diram","euro"]

t=zip(l1,l2)
d=dict(t)
print(d)

{'america': 'dollar', 'india': 'rupees', 'iran': 'diram', 'europe': 'euro'}

In [70]:
import numpy as np

a=np.array([1,2,3,4])
print(a)

[1 2 3 4]